@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-geist: "Geist", sans-serif;
  --font-times: "Times New Roman", serif;
  --font-system: "VT323", monospace;
  --font-fixedsys: "Fixedsys Excelsior", monospace;
  --font-ms: "MS Sans Serif", sans-serif;

  --animate-loading: load 0.8s steps(2) infinite;
  @keyframes load {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}

/* Scrollbar Styles (WebKit Browsers) */
::-webkit-scrollbar {
  width: 2px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #09090b; /* Track (background) */
}

::-webkit-scrollbar-thumb {
  background: 27272a; /* Thumb (scroll handle) */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: 27272a; /* Thumb hover effect */
}

/* Firefox Custom Scrollbar */
* {
  scrollbar-color: #27272a #09090b; /* Thumb and track */
  scrollbar-width: thin; /* Options: auto, thin, none */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: 300;
}
