@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xl: 1540px;

  --font-geist: "Geist", sans-serif;
  --font-times: "Times New Roman", serif;
  --font-system: "VT323", monospace;
  --font-fixedsys: "Fixedsys Excelsior", monospace;
  --font-ms: "MS Sans Serif", sans-serif;

  --animate-loading: load 0.8s steps(2) infinite;

  --shadow-outline: 1px 1px 0 black;

  @keyframes load {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}

* {
  scrollbar-color: #27272a #09090b; /* Thumb and track */
  scrollbar-width: thin; /* Options: auto, thin, none */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: 300;
}
